[submodule "SimpleSimulator"]
	path = SimpleSimulator
	url = https://github.com/Setu-Gupta/SimpleSimulator.git
	branch = main
[submodule "Simple-Assembler"]
	path = Simple-Assembler
	url = https://github.com/mayank18049/Simple-Assembler.git
	branch = main
